.form{
    margin-top: 50px;
    text-align: center;
}

.title {
    color: #000;
}

.downloadBtn {
    margin-top: 10px;
}

.size-input {
    padding-top: 10px;
}

.words-input {
    padding-top: 10px; 
}

.backward-input{
    padding-top: 10px; 
}

.diagonal-input {
    padding-top: 10px;
}

.submit-button{
    margin-top: 10px;
}

.canvas-viewer {
    margin-top: 30px;
}